/* Blog.module.css */
.blog {
    padding: 80px 0;
    text-align: center;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.subheading {
    font-size: 1.25rem;
    color: #a5adce; /* Subtext0 */
}
