:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #cad3f5; /* Text */
  background-color: #24273a; /* Base */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: radial-gradient(#494d64 1px, transparent 0); /* Surface2 for dots */
  background-size: 40px 40px;
}

a {
  font-weight: 500;
  color: #8aadf4; /* Blue */
  text-decoration: none;
}
a:hover {
  color: #a5adce; /* Subtext0 */
}

h1, h2, h3, h4, h5, h6 {
  color: #c6a0f6; /* Mauve */
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) { .container { max-width: 540px; } }
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 992px) { .container { max-width: 960px; } }
@media (min-width: 1200px) { .container { max-width: 1140px; } }
